body {
  /* background: #111; */
  background: #111;
  position: relative;
  color: green;
}
h1 {
  text-align: center;
}
#secret {
  display: block;
  margin: 0 auto;
}

#I2 {
  font-size: 20px;
}
#container {
  margin: 0 auto;
  border: 2px solid green;
  width: 600px;
  height: 500px;
}
input {
  font-family: "VT323", monospace;
  font-size: 30px;
}
#CmdLine {
  display: block;
  margin: 0 auto;
  background: #111;
  font-size: 20px;
  color: green;
  width: 500px;
  height: 30px;
  /*padding-left: 100px;*/
}
#error {
  color: red;
}
.errorMode {
  border: 2px solid red;
}
.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
  border: 1px solid red;
  outline: none;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

/* Puzzle stuff */
